<div class="page-header">
    <h4>
        <i class="glyphicon glyphicon-signal"></i>
        会员管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            {{if $action eq 'CREATE'}}
                新建会员
            {{elseif $action eq 'UPDATE'}}
                编辑会员
            {{elseif $action eq 'VIEW'}}
                查看会员详情
            {{/if}}

        </small>

        <a class="btn btn-xs orange pull-right btn-warning" href="#page/autouser/index">
            <i class="glyphicon glyphicon-arrow-left"></i>返回会员管理</span></a>
    </h4>
</div>

<div class="row" id="">
    <div class="col-xs-12">
        <form class="form-horizontal" id="form">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-16">
                    <li class="active">
                        <a data-toggle="tab" href="#edit-basic">
                            <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                            基本信息
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#edit-profile">
                            <i class="purple ace-icon ace-icon fa fa-globe bigger-125"></i>
                            认证资料
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#edit-pics">
                            <i class="orange ace-icon fa fa fa-picture-o bigger-125"></i>
                            认证图片
                        </a>
                    </li>
                </ul>

                <div class="tab-content profile-edit-tab-content">
                    <div id="edit-basic" class="tab-pane in active">
                        <div class="space-10"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                用户名
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="userName" name="userName" placeholder="用户名,请使用手机号码" class="txt input-sm col-sm-6">
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="userName" name="userName" placeholder="用户名,请使用手机号码" value="{{$user.userName}}" class="txt input-sm col-sm-6">
                                {{elseif $action eq 'VIEW'}}
                                {{$user.userName}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                生日
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="birth" name="birthString" placeholder="生日" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="birth" name="birthString" placeholder="生日" value="{{if $user.birthString}}{{$user.birthString}}{{/if}}" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'VIEW'}}
                                {{if $user.birthString}}{{$user.birthString}}{{/if}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                手机号码
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="phone" name="phone" placeholder="手机号码" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="phone" name="phone" placeholder="手机号码" value="{{$user.phone}}" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'VIEW'}}
                                {{$user.phone}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                邮箱地址
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="email" name="email" placeholder="邮箱地址" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="email" name="email" placeholder="邮箱地址" value="{{if $user.email}}{{$user.email}}{{/if}}" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'VIEW'}}
                                {{if $user.email}}{{$user.email}}{{/if}}
                                {{/if}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                用户图像
                            </label>
                            <div class="col-sm-4" style="height:62px;"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE' or $action eq 'UPDATE'}}
                                <input type="hidden" id="hidUserAvatar" name="userAvatar" />
                                <input type="file" id="userAvatar" name="file" placeholder="封面图片">
                                {{elseif $action eq 'VIEW'}}
                                <img src="{{$user.userAvatar}}" style="height:100%;" />
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                状态
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <select name="status">
                                    <option value="1">禁用</option>
                                    <option value="2" selected="selected">注册或添加</option>
                                    <option value="3">等待实名认证</option>
                                    <option value="4">实名认证通过</option>
                                    <option value="5">实名认证未通过</option>
                                </select>
                                {{elseif $action eq 'UPDATE'}}
                                <select name="status">
                                    <option value="1"{{if $user.status eq 1}} selected="selected"{{/if}}>禁用</option>
                                    <option value="2"{{if $user.status eq 2}} selected="selected"{{/if}}>注册或添加</option>
                                    <option value="3"{{if $user.status eq 3}} selected="selected"{{/if}}>等待实名认证</option>
                                    <option value="4"{{if $user.status eq 4}} selected="selected"{{/if}}>实名认证通过</option>
                                    <option value="5"{{if $user.status eq 5}} selected="selected"{{/if}}>实名认证未通过</option>
                                </select>
                                {{elseif $action eq 'VIEW'}}
                                {{if $user.status eq 1}}禁用{{/if}}
                                {{if $user.status eq 2}}注册或添加{{/if}}
                                {{if $user.status eq 3}}等待实名认证{{/if}}
                                {{if $user.status eq 4}}实名认证通过{{/if}}
                                {{if $user.status eq 5}}实名认证未通过{{/if}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                信誉积分
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="point" name="point" placeholder="信誉积分" value="100" class="txt input-sm col-sm-2">
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="point" name="point" placeholder="信誉积分" value="{{$user.point}}" class="txt input-sm col-sm-2">
                                {{elseif $action eq 'VIEW'}}
                                {{$user.point}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                生份证号码
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="idNumber" name="idNumber" placeholder="生份证号码" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="idNumber" name="idNumber" placeholder="生份证号码" value="{{$user.idNumber}}" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'VIEW'}}
                                {{if $user.idNumber}}{{$user.idNumber}}{{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div id="edit-profile" class="tab-pane">
                        <div class="space-10"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                真实姓名
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="realName" name="profile.realName" placeholder="真实姓名" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="realName" name="profile.realName" placeholder="真实姓名" value="{{if $user.profile.realName}}{{$user.profile.realName}}{{/if}}" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'VIEW'}}
                                {{if $user.profile.realName}}{{$user.profile.realName}}{{/if}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group" id="rowParts">
                            <label class="col-sm-3 control-label">
                                店铺名称
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="shopName" name="profile.shopName" placeholder="店铺名称" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="shopName" name="profile.shopName" placeholder="店铺名称" value="{{if $user.profile.shopName}}{{$user.profile.shopName}}{{/if}}" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'VIEW'}}
                                {{if $user.profile.shopName}}{{$user.profile.shopName}}{{/if}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                店铺类型
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <select id="shopType" name="profile.shopType">
                                    <option value="0" selected="selected">请选择店铺类型</option>
                                    <option value="1">4S 店</option>
                                    <option value="2">有实体店二网</option>
                                    <option value="3">无实体店二网</option>
                                    <option value="4">个人</option>
                                </select>
                                {{elseif $action eq 'UPDATE'}}
                                <select id="shopType" name="profile.shopType">
                                    <option value="0"{{if $user.status neq 3}} selected="selected"{{/if}}>请选择店铺类型</option>
                                    <option value="1"{{if $user.profile.shopType eq 1}} selected="selected"{{/if}}>4S 店</option>
                                    <option value="2"{{if $user.profile.shopType eq 2}} selected="selected"{{/if}}>有实体店二网</option>
                                    <option value="3"{{if $user.profile.shopType eq 3}} selected="selected"{{/if}}>无实体店二网</option>
                                    <option value="4"{{if $user.profile.shopType eq 4}} selected="selected"{{/if}}>个人</option>
                                </select>
                                {{elseif $action eq 'VIEW'}}
                                {{if $user.profile.shopType eq 1}}4S 店{{/if}}
                                {{if $user.profile.shopType eq 2}}有实体店二网{{/if}}
                                {{if $user.profile.shopType eq 3}}无实体店二网{{/if}}
                                {{if $user.profile.shopType eq 4}}个人{{/if}}
                                {{/if}}

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                店铺描述
                            </label>
                            <div class="col-sm-6"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <textarea id="shopDesc" placeholder="店铺描述" name="profile.shopDesc" style="max-height:150px;min-height:150px;width:100%;"></textarea>
                                {{elseif $action eq 'UPDATE'}}
                                <textarea id="shopDesc" placeholder="店铺描述" name="profile.shopDesc" style="max-height:150px;min-height:150px;width:100%;">{{if $user.profile.shopDesc}}{{$user.profile.shopDesc}}{{/if}}</textarea>
                                {{elseif $action eq 'VIEW'}}
                                {{if $user.profile.shopDesc}}{{$user.profile.shopDesc}}{{/if}}
                                {{/if}}

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                主营品牌
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="shopBrands" name="profile.shopBrands" placeholder="主营品牌" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="shopBrands" name="profile.shopBrands" placeholder="主营品牌" value="{{if $user.profile.shopBrands}}{{$user.profile.shopBrands}}{{/if}}" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'VIEW'}}
                                {{if $user.profile.shopBrands}}{{$user.profile.shopBrands}}{{/if}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                店铺位置
                            </label>
                            <div class="col-sm-9"{{if $action eq 'VIEW'}} style="padding-top:10px;"{{/if}}>
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="shopBase" name="profile.shopBase" placeholder="店铺位置" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="shopBase" name="profile.shopBase" placeholder="店铺位置" value="{{if $user.profile.shopBase}}{{$user.profile.shopBase}}{{/if}}" class="txt input-sm col-sm-4">
                                {{elseif $action eq 'VIEW'}}
                                {{if $user.profile.shopBase}}{{$user.profile.shopBase}}{{/if}}
                                {{/if}}
                            </div>
                        </div>

                    </div>

                    <div id="edit-pics" class="tab-pane">
                        <div class="space-10"></div>
                        {{if $action eq 'CREATE'}}
                        <input type="hidden" id="hidPic" name="pic" value="" />
                        {{elseif $action eq 'UPDATE'}}
                        <input type="hidden" id="hidPic" name="pic" value="{{foreach from=$picList item=picItem key=index}}{{if $index gt 0}}※{{/if}}{{$picItem.path}}{{/foreach}}" />
                        {{/if}}
                        <div class="dropzone" id="dropzone">
                            <div class="fallback">
                                <input type="file" multiple="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {{if $action eq 'CREATE' or $action eq 'UPDATE'}}
            <div class="clearfix form-actions">
                <button id="btnReset" class="btn" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    重置
                </button>
                &nbsp; &nbsp;
                <button id="btnSubmit" data-action="{{$action}}" class="btn btn-info" type="button">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    确定
                </button>
                {{if $action eq 'UPDATE' and $user.status eq 3 }}
                <button id="btnReject" class="btn btn-danger" type="button">
                    <i class="ace-icon fa fa-times"></i>
                    实名审核不通过
                </button>

                <button id="btnAccept" class="btn btn-success" type="button">
                    实名审核通过

                    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                </button>
                {{/if}}
            </div>
            {{/if}}
        </form>


    </div><!-- /.col -->
</div><!-- /.row -->
<script type="text/javascript">
    $('.page-content-area').ace_ajax('loadScripts', [null, null], function() {
        {{if $action eq 'UPDATE' and $user.status eq 3 }}
        $("#btnReject").on("click", function(){
            $.post("{{$contextPath}}/admin/autouser/auth.do","action=reject&userId={{$user.userId}}",function(result){
                if(result.code==0){
                    changeHash("page/autouser/index");
                }else{
                    showAlert(result.msg);
                }
            });
        });

        $("#btnAccept").on("click", function(){
            $.post("{{$contextPath}}/admin/autouser/auth.do","action=accept&userId={{$user.userId}}",function(result){
                if(result.code==0){
                    changeHash("page/autouser/index");
                }else{
                    showAlert(result.msg);
                }
            });
        });
        {{/if}}


        {{if $action eq 'CREATE' or $action eq 'UPDATE'}}
        var spliter = "";
        $("#btnSubmit").on("click",function(){
            var name = $.trim($("#userName").val());
            if(name == ""){
                showTip("用户名不能为空");
                return;
            }
            if(!/1\d{10}/.test(name)){
                showTip("用户名不正确,请输入手机号");
                return;
            }
            $.post("{{$contextPath}}/admin/autouser/action.do","action=" + $(this).attr("data-action") + "&"+$("form").serialize(),function(result){
                if(result.code==0){
                    changeHash("page/autouser/index");
                }else{
                    showAlert(result.msg);
                }
            });
        });

        $("#birthString").datepicker({
            showOtherMonths: true,
            selectOtherMonths: false
        });

        var userAvatar = $('#userAvatar').ace_file_input({
            style:'well',
            allowExt: ["jpeg", "jpg", "png", "gif" , "bmp"],
            allowMime: ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"],

            btn_choose:'拖放或点击选择图片',
            btn_change:null,
            no_icon:'ace-icon fa fa-cloud-upload',
            droppable:true,
            thumbnail:'small',
            //,icon_remove:null//set null, to hide remove/reset button
            /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
            before_remove : function() {
                $("#hidUserAvatar").val("");
                return true;
            },
            preview_error : function(filename, error_code) {
                var errorMsg = '';
                if(error_code == 2){
                    errorMsg = "加载读取图片出错";
                }else if(error_code == 3){
                    errorMsg = "创建缩列图出错";
                }
                showTip(errorMsg);
                //name of the file that failed
                //error_code values
                //1 = 'FILE_LOAD_FAILED',
                //2 = 'IMAGE_LOAD_FAILED',
                //3 = 'THUMBNAIL_FAILED'
                //alert(error_code);
            }
        });
        {{/if}}
        {{if $action eq 'UPDATE'}}
        var files = [{
            name: "temp.jpeg",
            type: "image",
            path: "{{$user.userAvatar}}"
        }];
        userAvatar.ace_file_input("show_file_list", files, false);
        {{/if}}


        Dropzone.autoDiscover = false;
        var dropZone = new Dropzone("#dropzone" , {
            paramName: "upfile",
            params: {type:"userauth"},
            maxFilesize: 1, // MB
            maxFiles: 5,
            method:"post",
            url: "{{$contextPath}}/plugin/uploader",
            success:function(file){
                console.log("success");
                var result = $.parseJSON(file.xhr.response);
                if(result.code == 0){
                    file.path = result.data;
                    var pic = $("#hidPic").val();
                    pic += pic != "" ? (spliter + result.data) : result.data;
                    $("#hidPic").val(pic);

                    $(".dz-details img[data-dz-thumbnail]", file.previewTemplate).attr("src", file.path);

                }
                else{
                    showAlert("上传失败....");
                }

                if (file.previewElement) {
                    return file.previewElement.classList.add("dz-success");
                }
            },
            removedfile: function(file){
                console.log("removedfile");
                var pics = $("#hidPic").val().split(spliter);
                for(var i = 0; i < pics.length; i++){
                    if(pics[i] == file.path){
                        pics = pics.splice(i, 1);
                        break;
                    }
                }
                $("#hicPic").val(pics.join(spliter));


                var _ref;
                if (file.previewElement) {
                    if ((_ref = file.previewElement) != null) {
                        _ref.parentNode.removeChild(file.previewElement);
                    }
                }
                return this._updateMaxFilesReachedClass();
            },
            dictCancelUpload: "取消上传",
            dictCancelUploadConfirmation: "您确定取消上传?",
            dictRemoveFile: "移除文件",
            dictRemoveFileConfirmation: null,
            dictMaxFilesExceeded: "您不能上传更多文件了.",
            dictDefaultMessage: "拖放文件上传",
            dictFallbackMessage: "您的浏览器不知拖放",
            addRemoveLinks : true,
            dictDefaultMessage :
                    '<span class="bigger-120 bolder"><i class="ace-icon fa fa-caret-right red"></i>拖放</span>文件上传 \
                    <span class="smaller-80 grey">(或单击)</span> <br /> \
                    <i class="upload-icon ace-icon fa fa-cloud-upload blue fa-2x"></i>'
            ,
            dictResponseError: '上传文件出错!',
            //change the previewTemplate to use Bootstrap progress bars
            previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"progress progress-small progress-striped active\"><div class=\"progress-bar progress-bar-success\" data-dz-uploadprogress></div></div>\n  <div class=\"dz-success-mark\"><span></span></div>\n  <div class=\"dz-error-mark\"><span></span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>"
        });
        {{if $action eq 'UPDATE' or $action eq 'VIEW'}}
        var mockFileList = [];
        {{foreach from=$picList item=picItem}}
        mockFileList.push({ name: "temp.jpg", size: "10000", path: "{{$picItem.path}}" });
        {{/foreach}}
        for(var i = 0; i < mockFileList.length; i++){
            dropZone.emit("addedfile", mockFileList[i]);

            dropZone.emit("thumbnail", mockFileList[i], mockFileList[i].path);

            dropZone.emit("complete", mockFileList[i]);
        }
        {{/if}}
            {{if $action eq 'VIEW'}}
            dropZone.disable();
            {{/if}}
    });
</script>
