
<title>Puzzle Admin-订单详情</title>

<div class="page-header">

    <h1>
        <i class="glyphicon glyphicon-signal"></i>
        订单管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            查看订单详情动作
        </small>
        <a class="btn btn-xs orange pull-right btn-warning" onclick="goBack()">
            <i class="glyphicon glyphicon-arrow-left"></i>返回订单管理</span></a>
    </h1>

</div>

<div class="row" id="">
    <div class="col-xs-12">
        <div class="gridview">
            <div class="grid-table">
                <table class="table table-striped table-bordered table-hover table-list table-tree">
                    <thead>
                        <tr>
                            <th colspan="4">订单信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>编号</td>
                            <td>{{$order.orderId}}</td>
                            <td>订单序号</td>
                            <td>{{$order.orderSn}}</td>
                        </tr>
                        <tr>
                            <td>订单状态</td>
                            <td>{{$order.orderStatusString}}</td>
                            <td>支付状态</td>
                            <td>{{$order.payStatusString}}</td>
                        </tr>
                        <tr>
                            <td>物流状态</td>
                            <td>{{$order.shipStatusString}}</td>
                            <td>数量</td>
                            <td>{{$order.carNumber}}</td>
                        </tr>
                        <tr>
                            <td>支付方式</td>
                            <td>
                                {{if $order.payMethod==1}}
                                微信
                                {{/if}}
                                {{if $order.payMethod==2}}
                                支付宝
                                {{/if}}
                                {{if $order.payMethod==0}}
                                未支付
                                {{/if}}
                            </td>
                            <td>总价</td>
                            <td>{{$order.amount}}</td>
                        </tr>
                        <tr>
                            <td>订购时间</td>
                            <td>{{$order.addTimeString}}</td>
                            <td>买家所付订金</td>
                            <td>{{$order.buyerDeposit}}</td>
                        </tr>
                        <tr>
                            <td>卖家所付订金</td>
                            <td>{{$order.sellerDeposit}}</td>
                            <td>提车时间</td>
                            <td>{{$order.putTimeString}}</td>
                        </tr>
                        <tr>
                            <td>是否加配</td>
                            <td>
                                {{if $order.hasParts==1}}
                                是
                                {{else}}
                                否
                                {{/if}}
                            </td>
                            <td>加配信息</td>
                            <td>
                                {{if $order.hasParts==1}}
                                    描述：{{$car.parts}}&nbsp;&nbsp;价格：{{$car.partsPrice}}
                                {{/if}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered table-hover table-list table-tree">
                    <thead>
                    <tr>
                        <th colspan="4">买家信息</th>
                        <th colspan="4">卖家信息</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>编号</td>
                            <td>{{$buyerUser.userId}}</td>
                            <td>姓名</td>
                            <td>
                                {{if $buyerUser.realName!=null}}
                                {{$buyerUser.userName}}({{$buyerUser.realName}})
                                {{else}}
                                {{$buyerUser.userName}}
                                {{/if}}
                            </td>
                            <td>编号</td>
                            <td>{{$sellerUser.userId}}</td>
                            <td>姓名</td>
                            <td>
                                {{if $sellerUser.realName!=null}}
                                {{$sellerUser.userName}}({{$sellerUser.realName}})
                                {{else}}
                                {{$sellerUser.userName}}
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <td>电话号码</td>
                            <td>{{$buyerUser.phone}}</td>
                            <td>邮箱</td>
                            <td>{{$buyerUser.email}}</td>
                            <td>电话号码</td>
                            <td>{{$sellerUser.phone}}</td>
                            <td>邮箱</td>
                            <td>{{$sellerUser.email}}</td>
                        </tr>
                        <tr>
                            <td>店铺名称</td>
                            <td>
                                {{if $buyerUser.shopName!=null}}
                                {{$buyerUser.shopName}}
                                {{/if}}
                            </td>
                            <td>店铺类型</td>
                            <td>
                                {{if $buyerUser.shopTypeString!=null}}
                                {{$buyerUser.shopTypeString}}
                                {{/if}}
                            </td>
                            <td>店铺名称</td>
                            <td>
                                {{if $sellerUser.shopName!=null}}
                                {{$sellerUser.shopName}}
                                {{/if}}
                            </td>
                            <td>店铺类型</td>
                            <td>
                                {{if $sellerUser.shopTypeString!=null}}
                                {{$sellerUser.shopTypeString}}
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <td>身份证号</td>
                            <td>
                                {{if $buyerUser.idNumber!=null}}
                                {{$buyerUser.idNumber}}
                                {{/if}}
                            </td>
                            <td>积分</td>
                            <td>{{$buyerUser.point}}</td>
                            <td>身份证号</td>
                            <td>
                                {{if $sellerUser.idNumber!=null}}
                                {{$sellerUser.idNumber}}
                                {{/if}}
                            </td>
                            <td>积分</td>
                            <td>{{$sellerUser.point}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered table-hover table-list table-tree">
                    <thead>
                    <tr>
                        <th colspan="4">车源信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>编号</td>
                        <td>{{$car.carId}}</td>
                        <td>名称</td>
                        <td><a href="index#page/autocardetails/index/{{$car.carId}}">{{$car.carName}}</a></td>
                    </tr>
                    <tr>
                        <td>类型</td>
                        <td>{{$car.carTypeString}}</td>
                        <td>所选属性</td>
                        <td>{{$carAttr.outsideColor}}</td>
                    </tr>
                    <tr>
                        <td>所属品牌</td>
                        <td>{{$car.brandName}}</td>
                        <td>所属车系</td>
                        <td>{{$car.catName}}</td>
                    </tr>
                    <tr>
                        <td>所属车型</td>
                        <td>{{$car.modelName}}</td>
                        <td>官方指导价</td>
                        <td>{{$car.officalPrice}}</td>
                    </tr>
                    <tr>
                        <td>行情类型</td>
                        <td>
                            {{if $carAttr.quoteType==1}}
                                高于指导价
                            {{else}}
                                低于指导价
                            {{/if}}
                        </td>
                        <td>优惠类型</td>
                        <td>
                            {{if $carAttr.salePriceType==1}}
                                价格优惠
                            {{else}}
                                点数优惠
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td>优惠量</td>
                        <td>{{$carAttr.saleAmount}}</td>
                        <td>最终售价</td>
                        <td>{{$carAttr.price}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered table-hover table-list table-tree">
                    {{if $orderActions!=null}}
                    <thead>
                    <tr>
                        <th colspan="4">可执行操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4">
                            {{foreach from=$orderActions item=action}}
                            <a onclick="action('{{$action}}')" class="btn btn-xs btn-action btn-purple" style="margin-top: -2px;margin-left: 10px;">{{$action}}</a>&nbsp;&nbsp;
                            {{/foreach}}
                        </td>
                    </tr>
                    </tbody>
                    {{else}}
                    <thead>
                        <tr>
                            <th colspan="4">无可执行操作</th>
                        </tr>
                    </thead>
                    {{/if}}
                </table>
                <div class="pagination-box">

                </div>
            </div>
            <div class="grid-form search-form "></div>
            <input type="hidden" id="orderId" value="{{$orderId}}"/>
            <input type="hidden" id="sellerId" value="{{$order.sellerId}}"/>
            <input type="hidden" id="buyerId" value="{{$order.buyerId}}"/>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.page-content-area').ace_ajax('loadScripts', [null, null], function() {});

    function goBack(){
        window.history.back();
    }

    function action(action){
        var orderId = $("#orderId").val();
        var sellerId=$("#sellerId").val();
        var buyerId=$("#buyerId").val();
        $.ajax({
            url:'autoorderdetails/action.do',
            type:'post',
            data:'action='+action+"&orderId="+orderId,
            success:function(data){
                if(data.code==0){
                    window.location.reload();
                }else{
                    showAlert("修改失败！");
                }
            }
        });
    }
</script>