
<title>Puzzle Admin-配置管理</title>

<!-- ajax layout which only needs content area -->
<div class="page-header">
	<h4>
		配置管理
	</h4>
</div><!-- /.page-header -->

<div class="row">
    <div class="tabbable" id="tab">
        <ul class="nav nav-tabs padding-16">
            {{foreach from=$groupConfig item=groupItem key=index}}
            <li{{if $index eq 0}} class="active"{{/if}}>
                <a data-toggle="tab" href="#{{$groupItem.code}}">
                    <span class="badge">{{$index+1}}</span>
                    {{$groupItem.name}}
                </a>
            </li>
            {{/foreach}}
        </ul>
        <div class="tab-content no-border padding-24">
            {{foreach from=$groupConfig item=groupItem key=index}}
            <div id="#{{$groupItem.code}}" class="tab-pane{{if $index eq 0}} in active{{/if}}">
                <div class="row">
                    {{if $groupItem.children}}
                    {{foreach from=$groupItem.children item=childItem}}
                    <div class="col-sm-6 widget-container-col ui-sortable">
                        <div class="widget-box widget-color-blue ui-sortable-handle">
                            <div class="widget-header">
                                <h5 class="widget-title">{{$childItem.name}}</h5>

                                <div class="widget-toolbar no-border">
                                    <!--<a href="#" data-action="collapse">-->
                                        <!--<i class="1 ace-icon fa fa-chevron-up bigger-125"></i>-->
                                    <!--</a>-->

                                    <a href="#" data-action="refresh" data-setting="{{$childItem.code}}" title="刷新" style="color:#fff;">
                                        <i class="ace-icon fa fa-refresh bigger-125"></i>
                                    </a>

                                    <a href="#" data-action="save" data-setting="{{$childItem.code}}" title="保存" style="color:#fff;">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    {{if $childItem.items}}
                                    <form class="form-horizontal" data-setting="{{$childItem.code}}">
                                    {{foreach from=$childItem.items item=item}}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {{$item.name}}
                                        </label>

                                        <div class="col-sm-9">
                                            {{if $item.valueType eq 1}}
                                            <input type="text" name="{{$item.code}}" value="{{$item.value}}" placeholder="{{$item.name}}" class="txt input-sm col-sm-10">
                                            {{elseif $item.valueType eq 2}}
                                            <textarea name="{{$item.code}}" class="txt input-sm col-sm-10" style="height:120px;">{{$item.value}}</textarea>
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{/foreach}}
                                    </form>
                                    {{/if}}
                                </div>

                            </div>
                        </div>
                    </div>
                    {{/foreach}}
                    {{/if}}
                </div>
            </div>
            {{/foreach}}
        </div>
    </div>


</div>
<script type="text/javascript">
    $('.page-content-area').ace_ajax('loadScripts', [null, null], function() {
        $("#tab").on("click", ".btn-action", function(){
            var action = $(this).attr("data-action");
            if(action == "save"){

            }
            else if(action == "refresh"){

            }
        });
    })
</script>