<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AutoBrandModelMapper">
    <resultMap id="AutoBrandModel" type="puzzle.lianche.entity.AutoBrandModel">
    	<result column="model_id" property="modelId" /> 
    	<result column="brand_cat_id" property="brandCatId" /> 
    	<result column="model_name" property="modelName" /> 
    	<result column="sort_order" property="sortOrder" />
        <result column="cat_name" property="catName"/>
        <result column="brand_name" property="brandName"/>
    </resultMap>

    <sql id="allColumn">
    	model_id, brand_cat_id, model_name, sort_order
    </sql>

    <insert id="insert" parameterType="AutoBrandModel" useGeneratedKeys="true" keyProperty="modelId">
        insert into auto_brand_model 
        (
        	<if test="modelId != null">model_id, </if>
        	<if test="brandCatId != null">brand_cat_id, </if>
        	<if test="modelName != null">model_name, </if>
        	<if test="sortOrder != null">sort_order</if>
        )
        values 
        (
        	<if test="modelId != null">#{modelId}, </if>
        	<if test="brandCatId != null">#{brandCatId}, </if>
        	<if test="modelName != null">#{modelName}, </if>
        	<if test="sortOrder != null">#{sortOrder}</if>
       	)
    </insert>

    <update id="update" parameterType="AutoBrandModel">
        update auto_brand_model
        <set>
        	<if test="brandCatId != null">  
        		brand_cat_id = #{brandCatId},
        	</if>
        	<if test="modelName != null">  
        		model_name = #{modelName},
        	</if>
        	<if test="sortOrder != null">  
        		sort_order = #{sortOrder},
        	</if>
        </set>
        where model_id = #{modelId}
    </update>

    <delete id="delete" parameterType="Map">
        delete from auto_brand_model
        <where>
	        <trim prefixOverrides="and | or">
	        	<if test="modelId > 0">
	                and model_id = #{modelId}
	            </if>
                <if test="modelIds!=null and modelIds.length>0">
                    and model_id in
                    <foreach collection="modelIds" item="modelId" open="(" separator="," close=")">
                        #{modelId}
                    </foreach>
                </if>
                <if test="brandCatIds!=null and brandCatIds.size()>0">
                    and brand_cat_id in
                    <foreach collection="brandCatIds" item="brandCatId" open="(" separator="," close=")">
                        #{brandCatId}
                    </foreach>
                </if>
	        	<if test="modelName != null">
                    and model_name = #{modelName}
	            </if>
	        	<if test="sortOrder > 0">
                    and sort_order = #{sortOrder}
	            </if>
	        </trim>
        </where>
    </delete>

    <select id="query" parameterType="Map" resultMap="AutoBrandModel">
        select abm.*, abc.cat_name, ab.brand_name
        from auto_brand_model as abm
        inner join auto_brand_cat as abc on abc.cat_id = abm.brand_cat_id
        inner join auto_brand as ab on ab.brand_id = abc.brand_id
        <where>
            <trim prefixOverrides="and | or">
                <if test="modelId > 0">
                    and abm.model_id = #{modelId}
                </if>
                <if test="catId > 0">
                    and abc.cat_id = #{catId}
                </if>
                <if test="brandId > 0">
                    and ab.brand_id = #{brandId}
                </if>
            </trim>
        </where>
    </select>

    <select id="queryList" parameterType="Map" resultMap="AutoBrandModel">
        select abm.*, abc.cat_name, ab.brand_name
        from auto_brand_model as abm
        inner join auto_brand_cat as abc on abc.cat_id = abm.brand_cat_id
        inner join auto_brand as ab on ab.brand_id = abc.brand_id
        <where>
            <trim prefixOverrides="and | or">
                <if test="modelId > 0">
                    and abm.model_id = #{modelId}
                </if>
                <if test="catId > 0">
                    and abc.cat_id = #{catId}
                </if>
                <if test="brandId > 0">
                    and ab.brand_id = #{brandId}
                </if>
                <if test="modelName != null and modelName!=''">
                    and abm.model_name like concat('%',#{modelName},'%')
                </if>
            </trim>
        </where>
        order by abm.sort_order desc,abm.model_id asc
    </select>
</mapper>
