<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AutoUserProfileMapper">
    <resultMap id="AutoUserProfile" type="puzzle.lianche.entity.AutoUserProfile">
    	<id column="profile_id" property="profileId" /> 
    	<result column="user_id" property="userId" /> 
    	<result column="real_name" property="realName" /> 
    	<result column="shop_name" property="shopName" /> 
    	<result column="phone" property="phone" /> 
    	<result column="shop_type" property="shopType" /> 
    	<result column="shop_desc" property="shopDesc" /> 
    	<result column="shop_brands" property="shopBrands" /> 
    	<result column="shiop_base" property="shiopBase" /> 
    </resultMap>

    <sql id="allColumn">
    	profile_id, user_id, real_name, shop_name, phone, shop_type, shop_desc, shop_brands, shiop_base
    </sql>

    <insert id="insert" parameterType="AutoUserProfile" useGeneratedKeys="true" keyProperty="profileId">
        insert into auto_user_profile 
        (
        	
        	<if test="userId != null">user_id, </if>
        	<if test="realName != null">real_name, </if>
        	<if test="shopName != null">shop_name, </if>
        	<if test="phone != null">phone, </if>
        	<if test="shopType != null">shop_type, </if>
        	<if test="shopDesc != null">shop_desc, </if>
        	<if test="shopBrands != null">shop_brands, </if>
        	<if test="shiopBase != null">shiop_base</if>
        )
        values 
        (
        	
        	<if test="userId != null">#{userId}, </if>
        	<if test="realName != null">#{realName}, </if>
        	<if test="shopName != null">#{shopName}, </if>
        	<if test="phone != null">#{phone}, </if>
        	<if test="shopType != null">#{shopType}, </if>
        	<if test="shopDesc != null">#{shopDesc}, </if>
        	<if test="shopBrands != null">#{shopBrands}, </if>
        	<if test="shiopBase != null">#{shiopBase}</if>
       	)
    </insert>

    <update id="update" parameterType="AutoUserProfile">
        update auto_user_profile set 
        <set>
        	<if test="realName != null">  
        		real_name = #{realName}
        	</if>
        	<if test="shopName != null">  
        		shop_name = #{shopName}
        	</if>
        	<if test="phone != null">  
        		phone = #{phone}
        	</if>
        	<if test="shopType != null">  
        		shop_type = #{shopType}
        	</if>
        	<if test="shopDesc != null">  
        		shop_desc = #{shopDesc}
        	</if>
        	<if test="shopBrands != null">  
        		shop_brands = #{shopBrands}
        	</if>
        	<if test="shiopBase != null">  
        		shiop_base = #{shiopBase}
        	</if>
        </set>
        <where> 
        	<if test="userId > 0">
                user_id = #{userId}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="Map">
        delete from auto_user_profile
        <where>
	        <trim prefixOverrides="and | or">  
	        	<if test="profileId > 0">
	                profile_id = #{profileId}
	            </if>
                <if test="userId > 0">
                    user_id = #{userId}
                </if>
                <if test="userIds !=null and userIds.length > 0">
                    user_id in
                    <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                        #{userId}
                    </foreach>
                </if>
	        	<if test="realName != null">
	                real_name = #{realName}
	            </if>
	        	<if test="shopName != null">
	                shop_name = #{shopName}
	            </if>
	        	<if test="phone != null">
	                phone = #{phone}
	            </if>
	        	<if test="shopType > 0">
	                shop_type = #{shopType}
	            </if>
	        	<if test="shopDesc > 0">
	                shop_desc = #{shopDesc}
	            </if>
	        	<if test="shopBrands != null">
	                shop_brands = #{shopBrands}
	            </if>
	        	<if test="shiopBase != null">
	                shiop_base = #{shiopBase}
	            </if>
	        </trim>
        </where>
    </delete>

    <select id="query" parameterType="Map" resultMap="AutoUserProfile">
        select * from auto_user_profile
        <where>
        	<if test="userId > 0">
                user_id = ${userId}
            </if>
        </where>
    </select>

    <select id="queryList" parameterType="Map" resultMap="AutoUserProfile">
        select <include refid="allColumn"/> from auto_user_profile
        <where>
	        <trim prefixOverrides="and | or">
	        	<if test="profileId > 0">
	                profile_id = #{profileId}
	            </if>
	        	<if test="userId > 0">
	                user_id = #{userId}
	            </if>
	        	<if test="realName != null">
	                real_name = #{realName}
	            </if>
	        	<if test="shopName != null">
	                shop_name = #{shopName}
	            </if>
	        	<if test="phone != null">
	                phone = #{phone}
	            </if>
	        	<if test="shopType > 0">
	                shop_type = #{shopType}
	            </if>
	        	<if test="shopDesc > 0">
	                shop_desc = #{shopDesc}
	            </if>
	        	<if test="shopBrands != null">
	                shop_brands = #{shopBrands}
	            </if>
	        	<if test="shiopBase != null">
	                shiop_base = #{shiopBase}
	            </if>
	        </trim>
        </where>
    </select>

</mapper>
