<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AutoBrandCatMapper">
    <resultMap id="AutoBrandCat" type="puzzle.lianche.entity.AutoBrandCat">
    	<id column="cat_id" property="catId" /> 
    	<result column="brand_id" property="brandId" /> 
    	<result column="cat_name" property="catName" /> 
    	<result column="sort_order" property="sortOrder" />
        <result column="brand_name" property="brandName"/>
    </resultMap>

    <sql id="allColumn">
    	cat_id, brand_id, cat_name, sort_order
    </sql>

    <insert id="insert" parameterType="AutoBrandCat" useGeneratedKeys="true" keyProperty="catId">
        insert into auto_brand_cat 
        (
        	
        	<if test="brandId != null">brand_id, </if>
        	<if test="catName != null">cat_name, </if>
        	<if test="sortOrder != null">sort_order</if>
        )
        values 
        (
        	
        	<if test="brandId != null">${brandId}, </if>
        	<if test="catName != null">#{catName}, </if>
        	<if test="sortOrder != null">${sortOrder}</if>
       	)
    </insert>

    <update id="update" parameterType="AutoBrandCat">
        update auto_brand_cat
        <set>
            <trim suffixOverrides=",">
                <if test="brandId != null">
                    brand_id = ${brandId},
                </if>
                <if test="catName != null">
                    cat_name = #{catName},
                </if>
                <if test="sortOrder != null">
                    sort_order = #{sortOrder},
                </if>
            </trim>
        </set>
        where cat_id = ${catId}
    </update>

    <delete id="delete" parameterType="Map">
        delete from auto_brand_cat
        <where>
	        <trim prefixOverrides="and | or">  
	        	<if test="catId > 0">
                    and cat_id = ${catId}
	            </if>
                <if test="catIds!=null and catIds.length>0">
                    and cat_id in
                    <foreach collection="catIds" item="catId" open="(" separator="," close=")">
                        ${catId}
                    </foreach>
                </if>
	        	<if test="brandId > 0">
                    and brand_id = ${brandId}
	            </if>
                <if test="brandIds!=null and brandIds != ''">
                    and brand_id in
                    <foreach collection="brandIds" item="brandId" open="(" separator="," close=")">
                        ${brandId}
                    </foreach>
                </if>
	        	<if test="catName != null">
                    and cat_name = #{catName}
	            </if>
	        </trim>
        </where>
    </delete>

    <select id="query" parameterType="Map" resultMap="AutoBrandCat">
        select abc.*, ab.brand_name as brand_name from auto_brand_cat as abc
        inner join auto_brand as ab on abc.brand_id =  ab.brand_id
        <where>
            <trim prefixOverrides="and | or">
                <if test="catId > 0">
                    and abc.cat_id = #{catId}
                </if>
            </trim>
        </where>
    </select>

    <select id="queryList" parameterType="Map" resultMap="AutoBrandCat">
        select abc.*, ab.brand_name as brand_name from auto_brand_cat as abc
        inner join auto_brand as ab on abc.brand_id =  ab.brand_id
        <where>
            <trim prefixOverrides="and | or">
                <if test="brandId != null and brandId > 0">
                    and abc.brand_id = #{brandId}
                </if>
                <if test="catName !=null and catName != ''">
                    and abc.cat_name like concat('%',#{catName},'%')
                </if>
            </trim>
        </where>
        order by abc.sort_order asc,abc.cat_id asc
    </select>
</mapper>
