<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AutoAdMapper">
    <resultMap id="AutoAd" type="puzzle.lianche.entity.AutoAd">
    	<id column="ad_id" property="adId" /> 
    	<result column="ad_position_id" property="adPositionId" />
        <result column="title" property="title"/>
    	<result column="ad_link" property="adLink" />
        <result column="content" property="content"/>
    	<result column="add_time" property="addTime" /> 
    	<result column="start_date" property="startDate" /> 
    	<result column="end_date" property="endDate" /> 
    	<result column="status" property="status" />
        <result column="position_name" property="positionName"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="pic" property="pic"/>
    </resultMap>

    <sql id="allColumn">
    	ad_id, ad_position_id, title, ad_link, content, add_time, start_date, end_date, status, pic
    </sql>

    <insert id="insert" parameterType="AutoAd" useGeneratedKeys="true" keyProperty="adId">
        insert into auto_ad 
        (

        	<if test="adPositionId != null">ad_position_id, </if>
            <if test="title != null">title, </if>
        	<if test="adLink != null">ad_link, </if>
            <if test="pic != null">pic, </if>
            <if test="content != null">content, </if>
        	<if test="addTime != null">add_time, </if>
        	<if test="startDate != null">start_date, </if>
        	<if test="endDate != null">end_date, </if>
        	<if test="status != null">status</if>
        )
        values 
        (
        	
        	<if test="adPositionId != null">#{adPositionId}, </if>
            <if test="title != null">#{title}, </if>
        	<if test="adLink != null">#{adLink}, </if>
            <if test="pic != null">#{pic}, </if>
            <if test="content != null">#{content}, </if>
        	<if test="addTime != null">#{addTime}, </if>
        	<if test="startDate != null">#{startDate}, </if>
        	<if test="endDate != null">#{endDate}, </if>
        	<if test="status != null">#{status}</if>
       	)
    </insert>

    <update id="update" parameterType="AutoAd">
        update auto_ad
        <set>
            <trim suffixOverrides=",">
                <if test="adPositionId != null">
                    ad_position_id = #{adPositionId},
                </if>
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="adLink != null">
                    ad_link = #{adLink},
                </if>
                <if test="pic != null and pic != ''">
                    pic = #{pic},
                </if>
                <if test="content != null">
                    content = #{content},
                </if>
                <if test="addTime != null">
                    add_time = #{addTime},
                </if>
                <if test="startDate != null">
                    start_date = #{startDate},
                </if>
                <if test="endDate != null">
                    end_date = #{endDate},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
            </trim>
        </set>
        where ad_id = #{adId}
    </update>

    <delete id="delete" parameterType="Map">
        delete from auto_ad
        <where>
	        <trim prefixOverrides="and | or">  
	        	<if test="adId > 0">
	                ad_id = #{adId}
	            </if>
                <if test="adIds != null and adIds != ''">
                    ad_id in (${adIds})
                </if>
	        	<if test="adPositionId > 0">
	                ad_position_id = #{adPositionId}
	            </if>
	        	<if test="adLink != null">
	                ad_link = #{adLink}
	            </if>
	        	<if test="status > 0">
	                status = #{status}
	            </if>
	        </trim>
        </where>
    </delete>

    <select id="query" parameterType="Map" resultMap="AutoAd">
        select <include refid="allColumn"/> from auto_ad
        <where>  
        	<if test="adId > 0">
                ad_id = #{adId}
            </if>
        </where> 
    </select>

    <select id="queryList" parameterType="Map" resultMap="AutoAd">
        select aa.*, aap.position_name,aap.width as width,aap.height as height
        from auto_ad as aa
        inner join auto_ad_position as aap on aa.ad_position_id=aap.position_id
        <where>
            <trim prefixOverrides="and | or">
                <if test="adPositionId != null and adPositionId >0">
                    and aa.ad_position_id = #{adPositionId}
                </if>
                <if test="status != null and status > 0">
                    and aa.status = ${status}
                </if>
                <if test="startDate != null">
                    and aa.start_date &gt;= #{startDate}
                </if>
                <if test="endDate != null">
                    and aa.end_date &lt;= #{endDate}
                </if>
                <if test="curTime != null and curTime > 0">
                    and aa.start_date &lt;= #{curTime} and end_date &gt; #{curTime}
                </if>
            </trim>
        </where>
        order by aa.ad_id desc
    </select>
</mapper>
