<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AutoCarPicMapper">
    <resultMap id="AutoCarPic" type="puzzle.lianche.entity.AutoCarPic">
        <id column="pic_id" property="picId" />
    	<result column="car_id" property="carId" /> 
    	<result column="path" property="path" /> 
    </resultMap>

    <sql id="allColumn">
    	pic_id, car_id, path
    </sql>

    <insert id="insert" parameterType="AutoCarPic" useGeneratedKeys="true" keyProperty="picId">
        insert into auto_car_pic 
        (
        	<if test="carId != null">car_id, </if>
        	<if test="path != null">path</if>
        )
        values 
        (
        	<if test="carId != null">#{carId}, </if>
        	<if test="path != null">#{path}</if>
       	)
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into auto_car_pic
        (
            car_id,
            path
        )
        values
        <foreach collection="list" item="pic" index="index" separator=",">
            (
                #{pic.carId},
                #{pic.path}
            )
        </foreach>
    </insert>

    <delete id="delete" parameterType="Map">
        delete from auto_car_pic
        <where>
            <trim prefixOverrides="and | or">
                <if test="picId != null and picId > 0">
                    pic_id = #{picId}
                </if>
                <if test="picIds != null and picIds != ''">
                    pic_id in (${picIds})
                </if>
                <if test="carId > 0">
                    car_id = #{carId}
                </if>
                <if test="carIds != null and carIds != ''">
                    car_id in (${carIds})
                </if>
            </trim>
        </where>
    </delete>

    <select id="query" parameterType="Map" resultMap="AutoCarPic">
        select * from auto_car_pic
        <where>
            <if test="picId > 0">
                and pic_id = #{picId}
            </if>
            <if test="carPicId > 0">
                and car_id = ${carPicId} LIMIT 0,1
            </if>
        </where>
    </select>

    <select id="queryList" parameterType="Map" resultMap="AutoCarPic">
        select <include refid="allColumn"/> from auto_car_pic as acp
        <where>
            <trim prefixOverrides="and | or">
                <if test="picId > 0">
                    and pic_id = #{picId}
                </if>
                <if test="carId > 0">
                    and car_id = #{carId}
                </if>
            </trim>
        </where>
    </select>
</mapper>

