<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AutoOrderMapper">
    <resultMap id="AutoOrder" type="puzzle.lianche.entity.AutoOrder">
    	<id column="order_id" property="orderId" /> 
    	<result column="order_sn" property="orderSn" /> 
    	<result column="order_status" property="orderStatus" /> 
    	<result column="pay_status" property="payStatus" /> 
    	<result column="ship_status" property="shipStatus" /> 
    	<result column="seller_id" property="sellerId" />
        <result column="buyer_id" property="buyerId" />
        <result column="pay_method" property="payMethod" />
        <result column="seller_deposit" property="sellerDeposit" />
        <result column="buyer_deposit" property="buyerDeposit" />
        <result column="ship_time" property="shipTime" />
        <result column="order_remark" property="orderRemark" />
        <result column="status_remark" property="statusRemark" />
        <result column="amount" property="amount" />
        <result column="remark" property="remark" />
        <result column="add_time" property="addTime" />
        <result column="carName" property="carName"/>
        <result column="carNumber" property="carNumber"/>
        <result column="sellerName" property="sellerName"/>
        <result column="sellerRealName" property="sellerRealName"/>
        <result column="buyerName" property="buyerName"/>
        <result column="buyerRealName" property="buyerRealName"/>
        <result column="put_time" property="putTime"/>
        <result column="carAttrId" property="carAttrId"/>

    </resultMap>

    <sql id="allColumn">
    	order_id, order_sn, order_status, pay_status, ship_status, seller_id, buyer_id, pay_method,
    	pay_number,seller_deposit, buyer_deposit, ship_time, order_remark, status_remark, amount, remark, add_time, put_time
    </sql>

    <insert id="insert" parameterType="AutoOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into auto_order 
        (
        	<if test="orderSn != null">order_sn, </if>
        	<if test="orderStatus != null">order_status, </if>
        	<if test="payStatus != null">pay_status, </if>
        	<if test="shipStatus != null">ship_status, </if>
            <if test="sellerId != null">seller_id, </if>
            <if test="buyerId != null">buyer_id, </if>
            <if test="payMethod != null">pay_method, </if>
            <if test="payNumber != null">pay_number,</if>
            <if test="sellerDeposit != null">seller_deposit, </if>
            <if test="buyerDeposit != null">buyer_deposit, </if>
            <if test="shipTime != null">ship_time, </if>
            <if test="orderRemark != null">order_remark, </if>
            <if test="statusRemark != null">status_remark, </if>
            <if test="amount != null">amount, </if>
            <if test="remark != null">remark, </if>
        	<if test="addTime != null">add_time,</if>
            <if test="putTime != null">put_time</if>
        )
        values 
        (
        	<if test="orderSn != null">#{orderSn}, </if>
        	<if test="orderStatus != null">#{orderStatus}, </if>
        	<if test="payStatus != null">#{payStatus}, </if>
        	<if test="shipStatus != null">#{shipStatus}, </if>
            <if test="sellerId != null">#{sellerId}, </if>
            <if test="buyerId != null">#{buyerId}, </if>
            <if test="payMethod != null">#{payMethod}, </if>
            <if test="payNumber != null">#{payNumber},</if>
            <if test="sellerDeposit != null">#{sellerDeposit}, </if>
            <if test="buyerDeposit != null">#{buyerDeposit}, </if>
            <if test="shipTime != null">#{shipTime}, </if>
            <if test="orderRemark != null">#{orderRemark}, </if>
            <if test="statusRemark != null">#{statusRemark}, </if>
            <if test="amount != null">#{amount}, </if>
            <if test="remark != null">#{remark}, </if>
        	<if test="addTime != null">#{addTime},</if>
            <if test="putTime != null">#{putTime}</if>
       	)
    </insert>

    <update id="update" parameterType="AutoOrder">
        update auto_order
        <set>
            <trim suffixOverrides=",">
                <if test="orderStatus != null">
                    order_status = #{orderStatus},
                </if>
                <if test="payStatus != null">
                    pay_status = #{payStatus},
                </if>
                <if test="shipStatus != null">
                    ship_status = #{shipStatus},
                </if>
                <if test="sellerDeposit != null and sellerDeposit > 0">
                    seller_deposit = #{sellerDeposit},
                </if>
                <if test="buyerDeposit != null and buyerDeposit > 0">
                    buyer_deposit = #{buyerDeposit},
                </if>
                <if test="shipTime != null and shipTime > 0">
                    ship_time = #{shipTime},
                </if>
                <if test="orderRemark != null and orderRemark != ''">
                    order_remark = #{orderRemark},
                </if>
                <if test="statusRemark != null and statusRemark != ''">
                    status_remark = #{statusRemark},
                </if>
                <if test="remark != null and remark != ''">
                    remark = #{remark},
                </if>
                <if test="addTime != null">
                    add_time = #{addTime},
                </if>
            </trim>
        </set>
        <where> 
        	<if test="orderId > 0">
                order_id = #{orderId}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="Map">
        delete from auto_order
        <where>
	        <trim prefixOverrides="and | or">  
	        	<if test="orderId != null and orderId > 0">
	                order_id = #{orderId}
	            </if>
                <if test="orderIds != null and orderIds.length > 0">
                    order_id in
                    <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
                        #{orderId}
                    </foreach>
                </if>
	        	<if test="orderSn != null and orderSn != ''">
	                order_sn = #{orderSn}
	            </if>
	        </trim>
        </where>
    </delete>

    <select id="query" parameterType="Map" resultMap="AutoOrder">
        select ao.*,aoc.car_number as carNumber,aoc.has_parts as hasParts,aoc.car_attr_id as carAttrId,
        (select au.user_name from auto_user as au where ao.seller_id=au.user_id) as sellerName,
        (select aup.real_name from auto_user_profile as aup where ao.seller_id=aup.user_id) as sellerRealName,
        (select au.user_name from auto_user as au where ao.buyer_id=au.user_id) as buyerName,
        (select aup.real_name from auto_user_profile as aup where ao.buyer_id=aup.user_id) as buyerRealName
        from auto_order as ao
        inner join auto_order_car as aoc on ao.order_id=aoc.order_id
        <where>  
        	<if test="orderId > 0">
                ao.order_id = #{orderId}
            </if>
            <if test="orderSn != null and orderSn != ''">
                and ao.order_sn = #{orderSn}
            </if>
        </where> 
    </select>

    <select id="queryList" parameterType="Map" resultMap="AutoOrder">
        select <include refid="allColumn"/> from auto_order as ao
        <where>
            <trim prefixOverrides="and | or">
                <if test="orderId > 0">
                    and order_id = #{orderId}
                </if>
                <if test="orderSn != null and orderSn != ''">
                    and order_sn = #{orderSn}
                </if>
                <if test="orderStatus != null">
                    and order_status = #{orderStatus}
                </if>
                <if test="payStatus != null">
                    and pay_status = #{payStatus}
                </if>
                <if test="shipStatus != null">
                    and ship_status = #{shipStatus}
                </if>
                <if test="orderIdList!=null and orderIdList.size()>0">
                    and order_id in
                    <foreach collection="orderIdList" item="orderId" open="(" separator="," close=")">
                        ${orderId}
                    </foreach>
                </if>
                <if test="orderStatusList != null and orderStatusList != ''">
                    and order_status in (${orderStatusList})
                </if>
                <if test="payStatusList != null and payStatusList != ''">
                    and pay_status in (${payStatusList})
                </if>
                <if test="shipStatusList != null and shipStatusList != ''">
                    and ship_status in (${shipStatusList})
                </if>
                <if test="sellerId != null and sellerId > 0">
                    and seller_id = ${sellerId}
                </if>
                <if test="buyerId != null and buyerId > 0">
                    and buyer_id = ${buyerId}
                </if>
	        </trim>
        </where>
    </select>

    <select id="queryOrder" parameterType="Map" resultMap="AutoOrder">
        select ao.*,ac.car_name as carName,aoc.car_number as carNumber,
        (select au.user_name from auto_user as au where ao.seller_id=au.user_id) as sellerName,
        (select aup.real_name from auto_user_profile as aup where ao.seller_id=aup.user_id) as sellerRealName,
        (select au.user_name from auto_user as au where ao.buyer_id=au.user_id) as buyerName,
        (select aup.real_name from auto_user_profile as aup where ao.buyer_id=aup.user_id) as buyerRealName
        from auto_order as ao
        inner join auto_order_car as aoc on ao.order_id=aoc.order_id
        inner join auto_car as ac on aoc.car_id=ac.car_id
        inner join auto_car_attr as aca on ac.car_id=aca.car_id and aoc.car_attr_id=aca.car_attr_id
        <where>
            <if test="orderStatus != null and orderStatus >0">
                and ao.order_status = ${orderStatus}
            </if>
            <if test="payStatus != null and payStatus >0">
                and ao.pay_status = ${payStatus}
            </if>
            <if test="shipStatus != null and shipStatus >0 ">
                and ao.ship_status = ${shipStatus}
            </if>
            <if test="beginTime != null">
                and ao.add_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and ao.add_time &lt;= #{endTime}
            </if>
        </where>
        order by ao.add_time desc,ao.order_id desc
    </select>

    <select id="queryCount" parameterType="Map" resultType="java.lang.Integer">
        select count(1) from auto_order as ao
        <where>
            <trim prefixOverrides="and | or">
                <if test="startTime != null and startTime >0">
                    and ao.add_time &gt;= ${startTime}
                </if>
                <if test="endTime != null and endTime >0">
                    and ao.add_time &lt;= ${endTime}
                </if>
            </trim>
        </where>
    </select>
</mapper>
