<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AutoCarMapper">
    <resultMap id="AutoCar" type="puzzle.lianche.entity.AutoCar">
        <id column="car_id" property="carId" />
        <result column="car_name" property="carName" />
        <result column="brand_id" property="brandId" />
        <result column="brand_cat_id" property="brandCatId" />
        <result column="brand_model_id" property="brandModelId" />
        <result column="offical_price" property="officalPrice" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="province_name" property="provinceName" />
        <result column="city_name" property="cityName" />
        <result column="area" property="area" />
        <result column="refresh_time" property="refreshTime"/>
        <result column="has_parts" property="hasParts"/>
        <result column="parts" property="parts"/>
        <result column="parts_price" property="partsPrice"/>
        <result column="add_time" property="addTime" />
        <result column="add_user_id" property="addUserId" />
        <result column="add_user_status" property="addUserStatus" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="car_type" property="carType" />
        <result column="status" property="status" />
        <result column="invoice_type" property="invoiceType" />
        <result column="sort_order" property="sortOrder" />
        <result column="remark" property="remark" />
        <result column="brand_name" property="brandName"/>
        <result column="cat_name" property="catName"/>
        <result column="model_name" property="modelName"/>
        <result column="user_name" property="userName"/>
        <result column="real_name" property="realName"/>
        <result column="user_status" property="userStatus"/>
        <result column="pic" property="pic"/>
        <result column="collect_id" property="collectId"/>
        <result column="add_order_time" property="addOrderTime"/>
        <result column="collect_id" property="collectId"/>
        <result column="collect_count" property="collectCount"/>
    </resultMap>

    <sql id="allColumn">
        car_id, car_name, brand_id, brand_cat_id, brand_model_id, offical_price,
        province, city, area,refresh_time, has_parts , parts , parts_price,
        add_time, add_user_id, start_date, end_date, car_type, status, invoice_type, sort_order, remark
    </sql>

    <insert id="insert" parameterType="AutoCar" useGeneratedKeys="true" keyProperty="carId">
        insert into auto_car
        (
        <if test="carName != null">car_name, </if>
        <if test="brandId != null">brand_id, </if>
        <if test="brandCatId != null">brand_cat_id, </if>
        <if test="brandModelId != null">brand_model_id, </if>
        <if test="officalPrice != null">offical_price, </if>
        <if test="province != null">province, </if>
        <if test="city != null">city, </if>
        <if test="area != null">area, </if>
        <if test="refreshTime != null">refresh_time, </if>
        <if test="hasParts != null">has_parts, </if>
        <if test="parts != null">parts, </if>
        <if test="partsPrice != null">parts_price, </if>
        <if test="addTime != null">add_time, </if>
        <if test="addUserId != null">add_user_id, </if>
        <if test="startDate != null">start_date, </if>
        <if test="endDate != null">end_date, </if>
        <if test="carType != null">car_type, </if>
        <if test="status != null">status, </if>
        <if test="invoiceType != null">invoice_type, </if>
        <if test="remark != null">remark, </if>
        <if test="sortOrder != null">sort_order</if>
        )
        values
        (

        <if test="carName != null">#{carName}, </if>
        <if test="brandId != null">#{brandId}, </if>
        <if test="brandCatId != null">#{brandCatId}, </if>
        <if test="brandModelId != null">#{brandModelId}, </if>
        <if test="officalPrice != null">#{officalPrice}, </if>
        <if test="province != null">#{province}, </if>
        <if test="city != null">#{city}, </if>
        <if test="area != null">#{area}, </if>
        <if test="refreshTime != null">#{refreshTime}, </if>
        <if test="hasParts != null">#{hasParts}, </if>
        <if test="parts != null">#{parts}, </if>
        <if test="partsPrice != null">#{partsPrice}, </if>
        <if test="addTime != null">#{addTime}, </if>
        <if test="addUserId != null">#{addUserId}, </if>
        <if test="startDate != null">#{startDate}, </if>
        <if test="endDate != null">#{endDate}, </if>
        <if test="carType != null">#{carType}, </if>
        <if test="status != null">#{status}, </if>
        <if test="invoiceType != null">#{invoiceType}, </if>
        <if test="remark != null">#{remark}, </if>
        <if test="sortOrder != null">#{sortOrder}</if>
        )
    </insert>

    <update id="update" parameterType="AutoCar">
        update auto_car
        <set>
            <if test="carName != null">
                car_name = #{carName},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId},
            </if>
            <if test="brandCatId != null">
                brand_cat_id = #{brandCatId},
            </if>
            <if test="brandModelId != null">
                brand_model_id = #{brandModelId},
            </if>
            <if test="officalPrice != null">
                offical_price = #{officalPrice},
            </if>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="area != null">
                area = #{area},
            </if>
            <if test="refreshTime != null">
                refresh_time = #{refreshTime},
            </if>
            <if test="hasParts != null">
                has_parts = #{hasParts},
            </if>
            <if test="parts != null">
                parts = #{parts},
            </if>
            <if test="partsPrice != null">
                parts_price = #{partsPrice},
            </if>
            <if test="addTime != null">
                add_time = #{addTime},
            </if>
            <if test="addUserId != null">
                add_user_id = #{addUserId},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="carType != null">
                car_type = #{carType},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder},
            </if>
            <if test="remark != null">
                remark = #{remark}
            </if>
        </set>
        where car_id = #{carId}
    </update>

    <delete id="delete" parameterType="Map">
        delete from auto_car
        <where>
            <trim prefixOverrides="and | or">
                <if test="carId > 0">
                    car_id = #{carId}
                </if>
                <if test="carIds != null and carIds.length > 0">
                    car_id in
                    <foreach collection="carIds" item="carId" open="(" separator="," close=")">
                        #{carId}
                    </foreach>
                </if>
                <if test="carName != null">
                    car_name = #{carName}
                </if>
                <if test="brandId > 0">
                    brand_id = #{brandId}
                </if>
                <if test="brandCatId > 0">
                    brand_cat_id = #{brandCatId}
                </if>
                <if test="brandModelId > 0">
                    brand_model_id = #{brandModelId}
                </if>
                <if test="province > 0">
                    province = #{province}
                </if>
                <if test="city > 0">
                    city = #{city}
                </if>
                <if test="area > 0">
                    area = #{area}
                </if>
                <if test="addUserId > 0">
                    add_user_id = #{addUserId}
                </if>
                <if test="carType > 0">
                    car_type = #{carType}
                </if>
                <if test="status > 0">
                    status = #{status}
                </if>
                <if test="sortOrder > 0">
                    sort_order = #{sortOrder}
                </if>
            </trim>
        </where>
    </delete>

    <select id="query" parameterType="Map" resultMap="AutoCar">
        select ac.*, p.region_name as province_name, c.region_name as city_name, ab.brand_name, abc.cat_name, abm.model_name
        <if test="viewUserId != null and viewUserId > 0">
            ,(select collect_id from auto_collect as auc where auc.target_type = 1 and auc.target_id = ac.car_id and auc.user_id = #{viewUserId}) as collect_id
        </if>

        from auto_car as ac
        left join auto_region as p on p.region_id = ac.province
        left join auto_region as c on c.region_id = ac.city
        inner join auto_brand as ab on ab.brand_id=ac.brand_id
        inner join auto_brand_cat as abc on abc.cat_id=ac.brand_cat_id
        inner join auto_brand_model as abm on ac.brand_model_id=abm.model_id
        <where>
            <if test="carId != null and carId > 0">
                ac.car_id = #{carId}
            </if>
            <if test="orderId != null and orderId > 0">
                ac.car_id = (select car_id from auto_order_car where order_id = #{orderId})
            </if>
        </where>
    </select>

    <select id="queryList" parameterType="Map" resultMap="AutoCar">
        select ac.*, ab.brand_name,abc.cat_name,abm.model_name,au.user_name,aup.real_name,au.status as add_user_status,
        (select count(1) from auto_collect as auc where auc.target_type = 1 and auc.target_id = ac.car_id) as collect_count
        <if test="viewUserId != null and viewUserId > 0">
            ,(select collect_id from auto_collect as auc where auc.target_type = 1 and auc.target_id = ac.car_id and auc.user_id = #{viewUserId}) as collect_id
        </if>
        from auto_car as ac
        inner join auto_user as au on au.user_id = ac.add_user_id
        left join auto_user_profile as aup on aup.user_id=ac.add_user_id
        inner join auto_brand as ab on ac.brand_id=ab.brand_id
        inner join auto_brand_cat as abc on ac.brand_cat_id=abc.cat_id
        inner join auto_brand_model as abm on ac.brand_model_id=abm.model_id
        <where>
            <trim prefixOverrides="and | or">
                <if test="carIdList!=null and carIdList.size()>0">
                    and ac.car_id in
                    <foreach collection="carIdList" item="carId" open="(" separator="," close=")">
                        ${carId}
                    </foreach>
                </if>
                <if test="carName!= null and carName !='' ">
                    and ac.car_name like concat('%',#{carName},'%')
                </if>
                <if test="carType != null and carType > -1">
                    and ac.car_type=#{carType}
                </if>
                <if test="brandId != null and brandId > 0">
                    and ac.brand_id = #{brandId}
                </if>
                <if test="brandIds != null and brandIds != ''">
                    and ac.brand_id in (${brandIds})
                </if>
                <if test="startPrice != null and startPrice > 0">
                    and ac.shop_price &gt;= #{startPrice}
                </if>
                <if test="endPrice != null and endPrice > 0">
                    and ac.shop_price &lt;= #{endPrice}
                </if>
                <if test="startDate != null">
                    and ac.start_date &gt;= #{startDate}
                </if>
                <if test="endDate != null">
                    and ac.end_date &lt;= #{endDate}
                </if>
                <if test="carType != null">
                    and ac.car_type = #{carType}
                </if>
                <if test="status != null">
                    and ac.status = #{status}
                </if>
                <if test="addUserId > 0">
                    and ac.add_user_id = ${addUserId}
                </if>
                <if test="filter != null and filter != ''">
                    ${filter}
                </if>
                <if test="curTime != null">
                    and #{curTime} &gt;= ac.start_date and #{curTime} &lt;= ac.end_date
                </if>
            </trim>
        </where>
        order by
        <if test="sort != null and sort != ''">
            ${sort},
        </if>
        ac.refresh_time desc, ac.car_id desc
    </select>

    <select id="queryUserCollect" parameterType="Map" resultMap="AutoCar">
        select ac.*, ab.brand_name,abc.cat_name,abm.model_name,au.user_name,
        au.status as userStatus,act.collect_id as collectId
        from auto_car as ac
        inner join auto_user as au on au.user_id = ac.add_user_id
        inner join auto_brand as ab on ab.brand_id = ac.brand_id
        inner join auto_brand_cat as abc on abc.cat_id = ac.brand_cat_id
        inner join auto_brand_model as abm on abm.model_id = ac.brand_model_id
        inner join auto_collect as act on act.target_id=ac.car_id and act.target_type = 1
        <where>
            <trim prefixOverrides="and | or">
                <if test="userId != null and userId >0">
                    and act.user_id=${userId}
                </if>
            </trim>
        </where>
        order by act.collect_id desc
    </select>

    <select id="queryOrderList" parameterType="Map" resultMap="AutoCar">
        select ac.*, ab.brand_name,abc.cat_name,abm.model_name,
        au.status as add_user_status,ao.add_time as add_order_time
        from auto_car as ac
        inner join auto_user as au on au.user_id = ac.add_user_id
        inner join auto_brand as ab on ac.brand_id=ab.brand_id
        inner join auto_brand_cat as abc on ac.brand_cat_id=abc.cat_id
        inner join auto_brand_model as abm on ac.brand_model_id=abm.model_id
        left join auto_order_car as aoc on aoc.car_id = ac.car_id
        left join auto_order as ao on ao.order_id = aoc.order_id
        <where>
            <trim prefixOverrides="and | or">
                <if test="addUserId != null and addUserId > 0">
                    and ac.add_user_id = ${addUserId}
                </if>
                <if test="sellerId !=null and sellerId > 0">
                    and ao.seller_id = ${sellerId}
                </if>
                <if test="buyerId !=null and buyerId > 0">
                    and ao.buyer_id = ${buyerId}
                </if>

                <if test="orderStatusList != null and orderStatusList !=''">
                    and ao.order_status in (${orderStatusList})
                </if>
                <if test="payStatusList != null and payStatusList !=''">
                    and ao.pay_status in (${payStatusList})
                </if>
                <if test="shipStatus != null and shipStatus >0">
                    and ao.ship_status = ${shipStatus}
                </if>
                <if test="payStatus != null and payStatus >0">
                    and ao.pay_status = ${payStatus}
                </if>
                <if test="orderStatus != null and orderStatus >0">
                    and ao.order_status = ${orderStatus}
                </if>
                <if test="curTime != null and curTime > 0">
                    and #{curTime} &gt;= start_date and #{curTime} &lt;= end_date
                </if>
                <if test="filter != null and filter != ''">
                    and ${filter}
                </if>
            </trim>
        </where>
        order by ${sort} ac.refresh_time desc, ac.car_id desc
    </select>
</mapper>
