
<title>Puzzle Admin</title>

<div class="page-header">
    <h4>
        <i class="glyphicon glyphicon-signal"></i>
        车源管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            查看车源详情
        </small>

        <a class="btn btn-xs orange pull-right btn-warning" href="#page/autocar/index">
            <i class="glyphicon glyphicon-arrow-left"></i>返回车源管理</span></a>
    </h4>
</div>

<div class="row" id="">
    <div class="col-xs-12">
        <form class="form-horizontal">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-16">
                    <li class="active">
                        <a data-toggle="tab" href="#edit-basic">
                            <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                            基本信息
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#edit-parts">
                            <i class="purple ace-icon ace-icon fa fa-globe bigger-125"></i>
                            加配信息
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#edit-attrs">
                            <i class="blue ace-icon fa fa-hdd-o bigger-125"></i>
                            价格属性
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#edit-pics">
                            <i class="orange ace-icon fa fa fa-picture-o bigger-125"></i>
                            车源图片
                        </a>
                    </li>
                </ul>

                <div class="tab-content profile-edit-tab-content">
                    <div id="edit-basic" class="tab-pane in active">
                        <div class="space-10"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                品牌
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{$car.brandName}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                车系
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{$car.catName}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                车型
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{$car.modelName}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                官方指导价
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{$car.officalPrice}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                车源有效期
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{$car.beginTimeString}} - {{$car.endTimeString}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                是否特卖会
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{if $car.carType eq 1}}
                                否
                                {{else if $car.carType eq 2}}
                                是
                                {{/if}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                发票信息
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{if $car.carType eq 1}}
                                普票
                                {{else if $car.carType eq 2}}
                                增票
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                排序号
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{$car.sortOrder}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                车源备注
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{$car.remark}}
                            </div>
                        </div>
                    </div>

                    <div id="edit-parts" class="tab-pane">
                        <div class="space-10"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                是否加配
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{if $car.carType eq 1}}
                                否
                                {{else if $car.carType eq 2}}
                                是
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group" id="rowParts">
                            <label class="col-sm-3 control-label">
                                加配描述
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{$car.parts}}
                            </div>
                        </div>
                        <div class="form-group" id="rowPartsPrice">
                            <label class="col-sm-3 control-label">
                                加配价格
                            </label>
                            <div class="col-sm-9" style="padding-top: 9px;">
                                {{$car.partsPrice}}
                            </div>
                        </div>
                    </div>

                    <div id="edit-attrs" class="tab-pane">
                        <div class="space-10"></div>
                        <div class="row">
                            {{foreach from=$attrList item=attrItem}}
                            <div class="col-xs-3 attr-item" data-index="0">
                                <div class="widget-box widget-color-blue">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div style="margin-bottom:15px;" class="input-sm col-sm-12">
                                                外观: {{$attrItem.outsideColor}}
                                            </div>
                                            <div style="margin-bottom:15px;" class="input-sm col-sm-12">
                                                内饰: {{$attrItem.insideColor}}
                                            </div>
                                            <div style="margin-bottom:15px;" class="input-sm col-sm-12">
                                                行情: {{if $attrItem.quoteType eq 1}}上{{else if $attrItem.quoteType eq 2}}下{{/if}}
                                            </div>
                                            <div style="margin-bottom:15px;" class="input-sm col-sm-12">
                                                优惠类型: {{if $attrItem.salePriceType eq 1}}优惠点数{{else if $attrItem.salePriceType eq 2}}优惠价格{{/if}}
                                            </div>
                                            <div style="margin-bottom:15px;" class="input-sm col-sm-12">
                                                {{if $attrItem.salePriceType eq 1}}
                                                    优惠点数:{{$attrItem.saleAmount}}%
                                                {{else if $attrItem.salePriceType eq 2}}
                                                    优惠金额:{{$attrItem.saleAmount}}
                                                {{/if}}

                                            </div>
                                            <div style="margin-bottom:15px;" class="input-sm col-sm-12">
                                                车源数量: {{$attrItem.totalNumber}}
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/foreach}}
                        </div>
                    </div>

                    <div id="edit-pics" class="tab-pane">
                        <div class="space-10"></div>
                        <div class="dropzone" id="dropzone">
                            {{foreach from=$picList item=picItem}}
                            <img src="{{$picItem.path}}" style="width:100px;" />
                            {{/foreach}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /.col -->
</div><!-- /.row -->
<script type="text/javascript">
    $('.page-content-area').ace_ajax('loadScripts', [null, null], function() {

    });
</script>
